/*######################################## body margin correction*/
body{
	margin:0px;
}

/*######################################## cabecalho*/
#cabecalho{
	background-color:#6175f0;
	color: white;
	padding-left:34px;
}
#cabecalho h1{
	font-family: 'Kaushan Script', cursive;
	font-size:36px;
	padding-top:20px;
	margin:0px;
	border:0px;
}
#cabecalho h2{
	font-family: "Times New Roman";
	font-size:24px;
	font-weight:normal;
	padding-bottom:13px;
	margin:0px;
	border:0px;
}

/*######################################## div Verdade*/
#unicornPic{
	float:left;
	width:310px;
	padding-right:13px;
	margin-bottom:16px;
}
#verdade{
	margin-right:25px;
	color:black;
	font-family:"Arial";
	font-size:14px;
}
#verdade h2{
	font-family:"Times New Roman";
	font-size:24px;
	font-weight:normal;
}
.referencia{
	font-style:italic;
}
#verdade a:link, #verdade a:visited{
	color:black;
	text-decoration:none;
}
#verdade a:hover, #verdade a:active{
	color:blue;
	text-decoration:none;
}

/*######################################## div hoje*/
#hoje{
	float:right;
	box-sizing:border-box;
	width:405px;
	padding-top:20px;
	padding-left:35px;
	padding-right:35px;
	padding-bottom:30px;
	margin-right:25px;
	background-color:#f8cef7;
	border:solid 1px #ff56fb;
	text-align:center;
	font-family:"Arial";
	font-size:13px;
	color:black;
}
#hoje img{
	width:112px;
	height:112px;
}
#hoje h2{
	font-family:"Times New Roman";
	font-size:24px;
	font-weight:normal;
}
#hoje h3{
	font-family:"Times New Roman";
	font-size:18px;
	font-weight:normal;
	margin-bottom:9px;
}

/*######################################## div musica*/
#musica {
	clear:left;
	font-family:"Arial";
	font-size:14px;
	color:black;
}
#musica h2{
	padding-left:12px;
	font-family:"Times New Roman";
	font-size:24px;
	font-weight:normal;
	margin:0px;
}
#musica>p{
	padding-left:12px;
	white-space:pre-line;
	margin:0px;
}
#musica>p:nth-child(odd){
	padding-left:46px;
}
.destacado{
	background-color:#c4caf3;
	color:#004a79;
	margin-bottom:25px;
	padding-bottom:13px;
}
.destacado>p{
	padding-left:12px;
	white-space:pre-line;
	margin:0px;
}
.destacado>p:nth-child(even){
	padding-left:46px;
}
