/*######################################## body margin correction*/
body{
	margin:0px;
}

/*######################################## cabecalho*/
#cabecalho{
	background-color:#6175f0;
	color: white;
	padding-left:34px;
}
#cabecalho h1{
	font-family: 'Kaushan Script', cursive;
	font-size:36px;
	padding-top:20px;
	margin:0px;
	border:0px;
}
#cabecalho h2{
	font-family: "Times New Roman";
	font-size:24px;
	padding-bottom:13px;
	margin:0px;
	border:0px;
}
#unicornPic{
	float:left;
	width:310px;
	padding-right:13px;
}

/*######################################## div Verdade*/
#verdade{
	color:black;
	font-family:"Arial";
	font-size:14px;
}
#verdade h2{
	font-family:"Times New Roman";
	font-size:24px;
}
